body {
  font-family: Arial, sans-serif;
  background-color: #e0d8cc;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pagina{
  background-image: url('../img/fondo.png'); /*Ruta relativa*/
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  border: 3px solid gray;
  background-color: #dbd4c0;
  color: white;
  text-align: center;
  padding: 10px 30px; /* Espacio alrededor del texto */
  width: fit-content; /* Ajusta el ancho al contenido */
  margin: 10px auto 10px; /* Centra horizontalmente */
  margin-top: 15px;
  border-radius: 10px;
  font-size: 24px;
}

.textos {
  color: rgb(0, 0, 0);
  text-align: center;
  max-width: 550px;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 10px;
}

.intro-text {
  max-width: 750px; /* Ajusta el ancho según lo que necesites */
  margin: 20px auto; /* Centra el texto horizontalmente */
  padding: 10px; /* Añade algo de espacio alrededor */
  text-align: center; /* Alinea el texto */
}

h3{
  max-width: 550px;
  margin: 80px 15px;
}

.bienvenida {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  max-width: 550px;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 10px;
}

.perosnalcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.perosnalcard {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.perosnalcard img {
  width: 100%;
  border-radius: 10px;
}

.galeria-lateral {
  position: fixed;
  top: 10%;
  width: 20%; /* Ancho controlado */
  height: 90vh; /* Altura de toda la pantalla */
  z-index:-1;
}

.izquierda {
  left: 30px; /* Ubicación en el lado izquierdo */
}

.derecha {
  right: 30px; /* Ubicación en el lado derecho */
}

.galeria-lateral img {
  width: 100%; /* Para que la imagen ocupe todo el ancho del div */
  height: auto; /* Mantiene la proporción */
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.grid-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
  display: block;
  margin: auto;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.contacto {
  width: 35%;
  margin: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaciado entre cada elemento */
}

.contacto label {
  font-weight: bold;
  margin-top: 10px;
}

.contacto input, .contacto textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto button {
  background: green;
  color: white;
  width: 40%;
  font-weight: bold;
  margin: 20px auto;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.mensaje-exito {
  display: none;
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid #acd0b4;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
}

#exito:target {
  display: block;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .galeria-lateral {
    position: absolute;
    top:550px;
  }
}

.sidecontainer {
  /*gap: 5px;*/
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.left {
  flex: 1;
  background-color: #f0e5da; /* Color del fondo izquierdo */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.left img {
  max-width: 60%;
  border-radius: 10px;
}

.right {
  flex: 1;
  background-color: #e6d6d2; /* Color del fondo derecho */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 15px;
}

.cuidado {
  background-color: #f2d9cd;
  color: white;
  padding: 5px 15px;
  width: 50%;
  text-align: center;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.cuidado:nth-child(2) {
  background-color: #eddfd4;
}

.cuidado:nth-child(3) {
  background-color: #e6e3d8;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
.card {
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card h2 {
    font-size: 1.25rem;
    font-weight: bold;
    
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}